@charset "UTF-8";


/* 네비 */
#wrap header {
  z-index: 9999;
  background-color: #fff;
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: #d4d4d4 solid 1px;
  transition: all .3s ease-in-out;
}

#wrap header .logo {
  position: absolute;
  top: 5px;
  left: 20px;
}

#wrap header .logo a {
  position: relative;
}

#wrap header .logo a img {
  vertical-align: middle;
}
#wrap header #gnb {
  display: flex;
  align-items: center;
  padding-left: 185px;
}
#wrap header #gnb ul {
  display: flex;
}
#wrap header #gnb ul li {
  min-width: 60px;
  margin-right: 35px;
}
#wrap header #gnb ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  text-decoration: none;
  transition: .2s ease-in-out;
}
#wrap header #gnb ul li:hover a {
  color: #ff4900;
}
/* 네비 햄버거 */
#wrap header .hambuger {
  position:
    /*absolute*/
    fixed;
  overflow: visible;
  padding: 10px 15px;
  right: 0;
  top: 0;
}

#wrap header .hambuger .hambuger_box {
  display: inline-block;
  position: relative;
  height: 29px;
}

#wrap header .hambuger .hambuger_box .hambuger_inner {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #222;
  top: 50%;
  right: 0;
}

#wrap header .hambuger .hambuger_box .hambuger_inner::before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  width: 25px;
  height: 2px;
  background-color: #222;
}

#wrap header .hambuger .hambuger_box .hambuger_inner::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  width: 25px;
  height: 2px;
  background-color: #222;
}
#wrap header #gnb {
  display: none;
}
#wrap header .global_menu {
  display: none;
}
/* 컨텐츠 */
#wrap #content {
  position: relative;
  overflow-x: hidden;
  padding-top: 100px;
}

#wrap #content .contents {
  position: relative;
  padding-bottom: 0 !important;
  padding-top: 20px;
  width: 1200px;
  max-width: 1200px;
  min-width: 0;
  margin: 0 auto;
}
/* 미디어쿼리 */
@media (min-width:961px) {
  #wrap header {
    height: 80px;
  }
  #wrap header .logo {
    top: 21px;
    left: 20px;
  }
  #wrap header .hambuger {
    padding: 19px 20px;
  }
  #wrap header .hambuger .hambuger_box {
    width: 30px;
    height: 38px;
  }
  #wrap header .hambuger .hambuger_box .hambuger_inner {
    width: 30px;
  }
  #wrap header .hambuger .hambuger_box .hambuger_inner::before {
    content: "";
    width: 30px;
    top: -11px;
  }
  #wrap header .hambuger .hambuger_box .hambuger_inner::after {
    content: "";
    width: 30px;
    bottom: -11px;
  }
}
/* 메인컨테이너 */
#wrap #content .contents .main_container {
  position: relative;
  width: 1200px;
}

/* 메인 상단 */
#wrap #content .contents .main_container .main_top {
  margin-top: 100px;
}

#wrap #content .contents .main_container .main_top .main_title {
  width: 875px;
  margin-bottom: 150px;
}

/* 메인 상단 텍스트 */
#wrap #content .contents .main_container .main_top .main_title .txt_box {
  display: inline-block;
  overflow: hidden;
}

#wrap #content .contents .main_container .main_top .main_title .txt_box p {
  letter-spacing: -1px;
  font-size: 90px;
  font-weight: 900;
  color: #222;
}

#wrap #content .contents .main_container .main_top .main_title .txt_box:nth-child(1) p {
  font-size: 36px;
  font-weight: 700;
  color: #111;
}

/* 메인 메뉴 */
#wrap #content .contents .main_container .main_top .main_menus {
  position: relative;
  height: 310px;
  width: 100%;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box {
  position: absolute;
  width: calc(50vw + 285px);
  background-color: #f9f9f9;
  height: 100%;
  left: 46%;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box.on {
  z-index: 5;
  background-color: #fff;
  box-shadow: 10px -30px 60px 5px rgb(224 224 231 / 25%);
}

#wrap #content .contents .main_container .main_top .main_menus .main_box:first-child {
  margin-left: -50vw;
  border-top-right-radius: 310px;
  border-bottom-right-radius: 310px;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box:last-child {
  left: calc(59% - 185px);
  border-top-left-radius: 310px;
  border-bottom-left-radius: 310px;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box:first-child dl {
  position: absolute;
  right: 442px;
  top: 60px;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box:last-child dl {
  position: absolute;
  left: 365px;
  top: 60px;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box dl dt {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #bbb;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box.on dl dt {
  color: #ff5f00;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box dl dt span {
  display: inline-block;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box dl dt .m_btn {
  display: none;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box dl dt span button {
  font-weight: 700;
  padding: 0;
  border: none;
  letter-spacing: .5;
  background-color: inherit;
  color: #bbb;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box dl dd {
  font-size: 36px;
  line-height: 48px;
  font-weight: 900;
  color: #bbb;
  letter-spacing: -0.5px;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box dl dd a {
  display: block;
  width: 166px;
  height: 46px;
  line-height: 38px;
  margin-top: 20px;
  text-align: center;
  background: #fff;
  box-shadow: 0 3px 6px 2px rgb(61 61 61 / 8%);
  color: inherit;
  text-decoration: none;
  opacity: .3;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box.on dl dd {
  color: #bbb;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box.on dl dd {
  color: #111;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box.on dl dd {
  opacity: 1;
}
#wrap #content .contents .main_container .main_top .main_menus .main_box.on dl dd a {
  opacity: 1;
}
#wrap #content .contents .main_container .main_top .main_menus .main_box dl dd a em {
  display: inline-block;
  color: #111;
  vertical-align: middle;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box dl dd a span {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 13px;
  margin-left: 7px;
  background-image: url(../images/ico/ico_download2.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  transform-origin: 50% 50%;
  font-size: 0;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box .go_btn {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 55px;
  top: 55px;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box .go_btn button {
  border: 0 none;
  background: inherit;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#wrap #content .contents .main_container .main_top .main_menus .main_box .go_btn button span {
  position: relative;
  width: 30px;
  height: 22px;
  background-image: url(../images/ico/ico_toggle_arrowL.svg);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 메인 콘텐츠 */
/* 유저모드 */
#wrap #content .contents .main_container .main_contents .user_mode {
  padding: 180px 0;
}

/* 탭메뉴 */
#wrap #content .contents .main_container .main_contents .user_mode .tab_menu {
  margin-bottom: 40px;
}

#wrap #content .contents .main_container .main_contents .user_mode .tab_menu ul {
  text-align: center;
  font-size: 0;
}

#wrap #content .contents .main_container .main_contents .user_mode .tab_menu ul li {
  display: inline-block;
  margin: 0 6px;
}

#wrap #content .contents .main_container .main_contents .user_mode .tab_menu ul li button {
  padding: 0;
  border: none;
  background-color: inherit;
  font-family: 'Open Sans', 'Noto Sans KR';
  font-size: 24px;
  font-weight: 700;
  color: #ddd;
}

#wrap #content .contents .main_container .main_contents .user_mode .tab_menu ul li.on button {
  color: #ff5f00;
}

/* 타이틀 박스 */
#wrap #content .contents .main_container .main_contents .user_mode .title_box p {
  text-align: center;
  font-size: 46px;
  line-height: 68px;
  font-weight: 900;
}

#wrap #content .contents .main_container .main_contents .user_mode .title_box p span {
  font-size: 28px;
  font-weight: 700;
}

#wrap #content .contents .main_container .main_contents .user_mode .title_box p em {
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
}

/* 샌드 버튼 */
#wrap #content .contents .main_container .main_contents .user_mode .send_btn {
  position: relative;
  overflow: hidden;
  margin: 60px auto 60px;
  width: 314px;
  height: 92px;
  background-color: #111;
  border-radius: 14.9vw;
}

#wrap #content .contents .main_container .main_contents .user_mode .send_btn .outer_arrow {
  background-image: url(../images/ico/ico_arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 14px;
  position: relative;
  display: inline-block;
  margin-left: 250px;
  margin-top: 38px;

}

#wrap #content .contents .main_container .main_contents .user_mode .send_btn .btns {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#wrap #content .contents .main_container .main_contents .user_mode .send_btn .btns a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

#wrap #content .contents .main_container .main_contents .user_mode .send_btn .btns a span {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 20px;
  line-height: 92px;
  font-weight: 700;
  margin-left: 48px;
}

/* 비쥬얼 박스 */
#wrap #content .contents .main_container .main_contents .user_mode .visual_box {
  text-align: center;
  width: 1200px;
  padding: 82px 0 70px;
  border-radius: 26px;
  margin: 0;
  position: relative;
  box-shadow: 0 16px 36px 0 rgba(204, 204, 213, 0.43);
}

#wrap #content .contents .main_container .main_contents .user_mode .visual_box>div {
  margin: 0 30px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

/* 첫번째 원 */
#wrap #content .contents .main_container .main_contents .user_mode .visual_box .visual_clip img {
  vertical-align: middle;
  text-align: center;
}

#wrap #content .contents .main_container .main_contents .user_mode .visual_box .visual_clip dl {
  margin-top: 42px;
}

#wrap #content .contents .main_container .main_contents .user_mode .visual_box .visual_clip dl dt {
  font-size: 24px ;
  font-weight: 700;
  color: #111;
}

#wrap #content .contents .main_container .main_contents .user_mode .visual_box .visual_clip dl dd {
  font-size: 40px;
  font-weight: 700;
  color: #111;
}

/* 두번째 원 */
#wrap #content .contents .main_container .main_contents .user_mode .visual_box .center dl dd {
  color: #ff5f00;
}

/* 화살표들 */
#wrap #content .contents .main_container .main_contents .user_mode .visual_box .anim_box {
  font-size: 0;
  margin: 0 30px;
  margin-top: 100px;
  vertical-align: top;
}

#wrap #content .contents .main_container .main_contents .user_mode .visual_box .anim_box span {
  width: 19px;
  height: 36px;
  display: inline-block;
  background-image: url(../images/ico/ico_right_arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 0px;
}

/* //유저 모드 */
/* 다이아 스코어 */
#wrap #content .contents .main_container .main_contents .dia_score {
  position: relative;
  width: 100%;
  padding-top: 180px;
  padding-bottom: 274px;
}

/* 다스-타이틀박스 */
#wrap #content .contents .main_container .main_contents .dia_score .title_box {
  position: relative;
}
#wrap #content .contents .main_container .main_contents .dia_score .title_box p {
  font-size: 46px;
  line-height: 68px;
  font-weight: 900; 
}

/* 다스-익스플레인박스 */
#wrap #content .contents .main_container .main_contents .dia_score .explain_box {
  margin-top: 100px;
}

#wrap #content .contents .main_container .main_contents .dia_score .explain_box img {
  margin-left: -35px;
}

#wrap #content .contents .main_container .main_contents .dia_score .explain_box ul li {
  margin-bottom: 22px;
}

#wrap #content .contents .main_container .main_contents .dia_score .explain_box ul li dt {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  vertical-align: middle;
  padding-left: 33px ;
  letter-spacing: -1px;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: left center;
  color: #111;
}

#wrap #content .contents .main_container .main_contents .dia_score .explain_box ul li:nth-child(1) dt {
  background-image: url(../images/ico/dia_score_01.svg);
}

#wrap #content .contents .main_container .main_contents .dia_score .explain_box ul li:nth-child(2) dt {
  background-image: url(../images/ico/dia_score_02.svg);
}

#wrap #content .contents .main_container .main_contents .dia_score .explain_box ul li:nth-child(3) dt {
  background-image: url(../images/ico/dia_score_03.svg);
}

#wrap #content .contents .main_container .main_contents .dia_score .explain_box ul li:nth-child(4) dt {
  background-image: url(../images/ico/dia_score_04.svg);
}

#wrap #content .contents .main_container .main_contents .dia_score .explain_box ul li dd {
  display: inline-block;
  margin-left: 24px;
  font-size: 20px;
  font-weight: 500;
  color: #111;
  letter-spacing: -1px;
  vertical-align: middle;
}

/* 다스-비쥬얼박스 */
#wrap #content .contents .main_container .main_contents .dia_score .animate_box {
  position: absolute;
  left: 50%;
  top: 0;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box:first-child {
  margin-top: 252px;
  z-index: 5;
}
#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box:last-child {
  margin-top: 42px;
  margin-left: 80px;
}
#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box {
  position: relative;
  box-sizing: content-box;
  border-radius: 26px;
  width: 484px;
  height: 292px;
  padding: 44px;
  text-align: left;
  box-shadow: 0 16px 36px 0 rgb(204 204 213 / 43%);
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box p {
  font-size: 20px;
  font-weight: 700;
  color: #111;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box .rate {
  font-size: 0;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box .rate em {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box .rate span {
  font-size: 20px;
  font-weight: 700;
  color: #ddd;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box .graph_imgs {
  position: absolute;
  bottom: 44px;
  left: 44px;
  width: 484px;
  height: 170px;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box .graph_imgs img {
  position: absolute;
  bottom: 0;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box .graph_imgs .img_mask {
  width: 444px;
  height: 132px;
  position: absolute;
  left: 25px;
  overflow: hidden;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box:first-child .graph_imgs .line_mask {
  position: absolute;
  left: 372px;
  top: 5px;
  width: 3px;
  height: 126px;
  overflow: hidden;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box:first-child .graph_imgs .point {
  left: 345px;
  top: 68px;
}

/* 다스-비박-두번째박스 */
#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box:last-child {
  margin-left: 7vw;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box .graph_imgs .sticks {
  position: absolute;
  width: 100%;
  height: 180px;
  bottom: 32px;
  overflow: hidden;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box .graph_imgs .sticks .stick {
  display: inline-block;
  width: 70px;
  height: 180px;
  margin: 0 10px;
  background: #5c6fc2;
  text-align: center;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box .graph_imgs .sticks .stick span {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-top: 12px;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box .graph_imgs .sticks .stick:nth-child(1) {
  margin-left: 68px;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box:last-child .graph_imgs .line_mask {
  position: absolute;
  top: 57px;
  width: 475px;
  height: 3px;
  overflow: hidden;
}

#wrap #content .contents .main_container .main_contents .dia_score .animate_box .visual_box:last-child .graph_imgs .point {
  top: 33px;
  right: -28px;
}

/* //다이아스코어 */
/* 다이아 데이터 */
#wrap #content .contents .main_container .main_contents .dia_data {
  position: relative;
  padding: 180px 0;
  padding-bottom: 337px;
  width: 100%;
}

/* 타이틀 */
#wrap #content .contents .main_container .main_contents .dia_data .title_box {
  position: relative;
}

#wrap #content .contents .main_container .main_contents .dia_data .title_box p {
  font-size: 46px;
  line-height: 68px;
  font-weight: 900;
  color: #111;
}

/* 버튼 */
#wrap #content .contents .main_container .main_contents .dia_data .round_btn {
  margin-top:60px;
  display: inline-block;
}

#wrap #content .contents .main_container .main_contents .dia_data .round_btn a {
  display: block;
  padding: 32px 48px;
  border-radius: 8vw;
  font-size: 20px;
  font-weight: 700;
  background: #111;
  color: #fff;
  text-decoration: none;
}

#wrap #content .contents .main_container .main_contents .dia_data .round_btn a .ico {
  margin-left: 3.7vw;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/ico/ico_arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 15px;
  height: 14px;
}

/* 애니박스 */
#wrap #content .contents .main_container .main_contents .dia_data .animate_box {
  position: absolute;
   top: 180px;
   left: 50%;
}

#wrap #content .contents .main_container .main_contents .dia_data .animate_box .visual_box {
  position: absolute;
  box-shadow: 0 16px 36px 0 rgb(204 204 213 / 43%);
  width: 572px;
  height: 340px;
  padding: 60px;
  box-sizing: content-box;
  text-align: left;
  font-size: 0;
  margin: 0 auto;
  border-radius: 26px;
  background: #fff;
}

#wrap #content .contents .main_container .main_contents .dia_data .animate_box .visual_box dt {
  font-size: 29px;
  font-weight: 900;
  color: #111;
}

#wrap #content .contents .main_container .main_contents .dia_data .animate_box .visual_box dd {
  display: inline-block;
  width: 100%;
  font-size: 0;
  font-weight: 900;
  color: #111;
  text-align: right;
  margin-top: 50px;
}

#wrap #content .contents .main_container .main_contents .dia_data .animate_box .visual_box dd em {
  font-size: 130px;
  font-weight: 700;
  font-style: normal;

}

#wrap #content .contents .main_container .main_contents .dia_data .animate_box .visual_box dd span {
  font-size: 120px;
}

/* 애니박스-마지막박스 */
#wrap #content .contents .main_container .main_contents .dia_data .animate_box .visual_box:last-child dd {
  width: 50%;
  text-align: left;
  margin-top: 80px;
}

#wrap #content .contents .main_container .main_contents .dia_data .animate_box .visual_box:last-child dd span {
  font-size: 46px;
}

#wrap #content .contents .main_container .main_contents .dia_data .animate_box .visual_box:last-child dd em {
  font-size: 54px;
}

#wrap #content .contents .main_container .main_contents .dia_data .animate_box .visual_box:last-child dd:last-child em {
  font-size: 180px;
  letter-spacing: -14px;
  color: #ff5f00;
}

#wrap #content .contents .main_container .main_contents .dia_data .animate_box .visual_box:last-child dd:last-child span {
  font-size: 36px;
  color: #ddd;
  text-align: right;
}

/* //다이아데이터 */
/* 인플루언서 인트로 */
#wrap #content .contents .main_container .main_contents .influencer_intro {
  position: relative;
  padding: 180px 0;
  padding-bottom: 387px;
  width:100%;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .title_box {
  position: relative;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .title_box p {
  font-size: 46px;
  line-height: 68px;
  font-weight: 900;
  color: #111;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .round_btn {
  margin-top:60px;
  display: inline-block;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .round_btn a {
  padding: 32px 48px;
  border-radius: 64px;
  font-size: 20px;
  display: block;
  color: #fff;
  text-decoration: none;
  background: #111;
  font-weight: 700;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .round_btn a span {
  display: inline-block;
  vertical-align: middle;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .round_btn a .ico {
  margin-left: 68px;
  background: url(../images/ico/ico_arrow.svg);
  width: 15px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 인인-애니메이트 박스 */
#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box {
  position: absolute;
  top: 175px;
  left: 50%;
}

/* 카테고리 탭 */
#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_tabs ul {
  font-size: 0;
  white-space: nowrap;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_tabs ul li {
  display: inline-block;
  margin-right: 12px;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_tabs ul li button {
  display: block;
  height: 68px;
  padding: 0 26px;
  border-radius: 68px;
  background: #fafafc;
  border: none;
  font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
  cursor: pointer;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_tabs ul li.on button {
  background: #5c6fc2;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_tabs ul li button span {
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  font-weight: 500;
  color: #999;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_tabs ul li.on button span {
  color: #fff;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_tabs ul li button span:first-child {
  margin-right: 10px;
  font-size: 0;
}

/* 카테고리 리스트 */
#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list {
  position: absolute;
  top: 115px;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul>li {
  box-sizing: content-box;
  position: relative;
  display: block;
  width: 422px;
  height: 98px;
  padding: 38px 32px;
  border-radius: 32px;
  margin-bottom: 16px;
  background: #fff;
  box-shadow: 0 6px 21px 0 rgb(224 224 231 / 70%);
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li div {
  display: inline-block;
  vertical-align: middle;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li:nth-child(3) {
  margin-top: -20px;
  margin-left: 110px;
  z-index: -1;
}

/* 체커 */
#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .chker input[type=checkbox] {
  display: none;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .chker label {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #eee;
  cursor: pointer;
}

/* 포토 */
#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .photo {
  margin: 0 20px;
  position: relative;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 90px;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .photo a {
  display: inline-block;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .photo a img {
  width: 100%;
}

/* 인포 */
#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .info a { 
  display: inline-block;
  color: inherit;
  text-decoration: none;
  width: 240px;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .info a p {
  width: 240px;
  font-size: 16px;
  font-weight: 700;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .info a .channel_name {
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  width: 240px;
  letter-spacing: -1px;
  color: #111;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .info a .categoly {
  width: 100%;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .info a .categoly ol {
  font-size: 0;
  list-style: none;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .info a .categoly ol li {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #999;
  padding: 0 8px;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .info a .categoly ol li:first-child {
  padding-left: 0;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .info a .categoly ol li::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 12px;
  right: -2px;
  top: 6px;
  background: #ddd;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .info a .categoly ol li:last-child {
  padding-right: 0;
}

#wrap #content .contents .main_container .main_contents .influencer_intro .animate_box .cate_list ul li .info a .categoly ol li:last-child::after {
  display: none;
}

/* //인플루언서 인트로 */
/* 리코맨드 박스 */
#wrap #content .contents .main_container .main_contents .recommend_box {
  padding:180px 0 ;
  width: 100%;
  position: relative;
}

#wrap #content .contents .main_container .main_contents .recommend_box .bgcolor_box {
  position: absolute;
  display: inline-block;
  width: 100vw;
  height: 100%;
  background: #fafafa;
  z-index: -1;
  left: 50%;
  margin-left: -50vw;
  top: 0;
}

#wrap #content .contents .main_container .main_contents .recommend_box .title_box {
  text-align: center;
  position: relative;
}

#wrap #content .contents .main_container .main_contents .recommend_box .title_box p {
  font-size: 46px;
  line-height: 68px;
  font-weight: 900;
  word-break: keep-all;
}

#wrap #content .contents .main_container .main_contents .recommend_box .btn_group {
  text-align: center;
  margin-bottom: 150px;
}

#wrap #content .contents .main_container .main_contents .recommend_box .btn_group .round_btn {
  margin: 60px 12px 0;
  display: inline-block;
}

#wrap #content .contents .main_container .main_contents .recommend_box .btn_group .round_btn a {
  padding: 32px 48px;
  border-radius: 64px;
  font-size: 20px;
  display: block;
  background: #111;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

#wrap #content .contents .main_container .main_contents .recommend_box .btn_group .round_btn a span {
  display: inline-block;
  vertical-align: middle;
}

#wrap #content .contents .main_container .main_contents .recommend_box .btn_group .round_btn a .ico {
  position: relative;
  font-size: 0;
  margin-left: 3.7vw;
  width: 15px;
  height: 14px;
  background-image: url(../images/ico/ico_arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#wrap #content .contents .main_container .main_contents .recommend_box .recommend_list ul {
  height: 445px;
  font-size: 0;
  white-space: nowrap;
}

#wrap #content .contents .main_container .main_contents .recommend_box .recommend_list ul li {
  width: 520px;
  margin: 0 30px;
  position: absolute;
  display: inline-block;
}

#wrap #content .contents .main_container .main_contents .recommend_box .recommend_list ul li button {
  border: 0 none;
  height: 304px;
  background: transparent;
  text-align: left;
}

#wrap #content .contents .main_container .main_contents .recommend_box .recommend_list ul li button .main_video {
  width: 520px;
  height: 304px;
  border-radius: 32px;
  overflow: hidden;
}

#wrap #content .contents .main_container .main_contents .recommend_box .recommend_list ul li button .main_video img {
  height: 100%;
}

#wrap #content .contents .main_container .main_contents .recommend_box .recommend_list ul li button .main_video .play_cover {
  position: absolute;
  background-size:86px 65px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(../images/ico/ico_play.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

#wrap #content .contents .main_container .main_contents .recommend_box .recommend_list ul li button dt {
  font-size: 18px;
  margin: 30px 0 0 12px;
  font-weight: 700;
}

#wrap #content .contents .main_container .main_contents .recommend_box .recommend_list ul li button .txt_blue {
  color: #5c6fc2;
}

#wrap #content .contents .main_container .main_contents .recommend_box .recommend_list ul li button dd {
  letter-spacing: -0.5px;
  position: relative;
  font-size: 24px;
  margin: 12px 0 0 12px;
  width: calc(100% - 24px);
  white-space: normal;
  font-weight: 700;
  color: #333;
}

/* 푸터 */
footer {
  border-top: 1px solid #d6d6d6;
}

footer .footer_wrap {
  width: 1200px;
  padding: 40px 0;
  text-align: left;
  margin: 0 auto;
}

footer .footer_wrap .policy {
  font-size: 0;
  padding-bottom: 25px;
}

footer .footer_wrap .policy li {
  position: relative;
  display: inline-block;
  line-height: 14px;
  padding: 0 7px 0 11px;
  border-left: 0 none;
}

footer .footer_wrap .policy li:first-child {
  padding-left: 0;
}

footer .footer_wrap .policy li a {
  font-size: 14px;
  text-decoration: none;
  color: #222;
}

footer .footer_wrap .policy li::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 17px;
  background-color: #222;
  left: 3px;
  top: 0;
}

footer .footer_wrap .policy li:first-child::after {
  display: none;
}

footer .footer_wrap .info {
  text-align: left;
  font-size: 0;
}
footer .footer_wrap .info ul li {
  display: inline-block;
  padding-right: 15px;
  line-height: 21px;
  font-size: 12px;
  color: #666;
}

footer .footer_wrap .info ul li a {
  text-decoration: none;
  color: #666;
}

footer .footer_wrap span {
  display: block ;
  padding-top: 20px;
  font-size: 14px;
  line-height: 28px;
  color: #666;
}
/* 네비게이션 */
.navigation {
  display: none;
  flex-direction: column;
  align-items: end;
  position: fixed;
  right: 30px;
  bottom: 5%;
  margin-top: -100px;
  z-index: 10;
}
.navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  line-height: 1;
  text-align: center;
  -webkit-border-radius: 50px ;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  margin: 5px 0;
}
.navigation .btn_inquiry {
  position: relative;
  color: #fff;
  background: #ff4900;
  transition: width .35s ease-in;
}
.navigation .btn_inquiry span {
  position: absolute;
  width: 100%;
  font-size: 13px;
  white-space: nowrap;
  transition: .35s ease-in;
  visibility: hidden;
  opacity: 0;
}
.navigation .btn_inquiry::before {
  content: "1:1\A문의";
  white-space: pre;
  width: 30px;
  line-height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .35s ease-in;
  font-size: 12px;
  opacity: 1  ;
}
.navigation .btn_inquiry:hover {
  width: 160px;
}
.navigation .btn_inquiry:hover span {
  visibility: inherit;
  opacity: 1;
} 
.navigation .btn_inquiry:hover::before {
  visibility: hidden;
  opacity: 0;
}
.navigation .btn_black {
  background: #222;
  color: #fff;
}
.navigation .btn_top {
  background: #222 url(../images/ico/top.png) 50% 50% no-repeat;
  overflow: hidden;
  text-indent: -9999px;
}