@charset "UTF-8";
:root {
  --menuBoxWidth: calc(50vw + 335px);
}
body {
  letter-spacing: -0.5px;
}
body, button {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Open Sans', 'Noto Sans KR';
}
